/* Color variables */

:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkBlue: hsl(229, 23%, 23%);
  --DarkGrayBlue: hsl(227, 10%, 46%);
  --DarkGray: hsl(0, 0%, 59%);
}

/* Css Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* My CSS */
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  background-color: var(--DarkCyan);
  padding: 0 25px;
  position: relative;
  overflow: hidden;
}

body::before {
  position: fixed;
  content: "";
  background-image: url(/images/bg-pattern-top.svg);
  width: 978px;
  height: 978px;
  top: -620px;
  left: -750px;
  z-index: -1;
}

body::after {
  position: fixed;
  content: "";
  background-image: url(/images/bg-pattern-bottom.svg);
  width: 978px;
  height: 978px;
  top: 165px;
  left: 103px;
  z-index: -1;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  box-shadow: 5px 5px 25px rgb(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 100%;
  max-width: 326px;
}

.card__topBackground {
  position: relative;
  height: 140px;
  background-image: url(/images/bg-pattern-card.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 25px 25px 0 0;
}

.card__topBackground::before {
  position: absolute;
  content: "";
  background-image: url(/images/image-victor.jpg);
  border-radius: 50%;
  border: 5px solid white;
  width: 100px;
  height: 100px;
  top: 92px;
  left: 50%;
  margin-left: -50px;
}

.card__content {
  background-color: #fff;
  text-align: center;
  height: 235px;
  border-radius: 0 0 25px 25px;
}
.card__content p {
  font-weight: 700;
  padding-top: 75px;
}

.card__content .age {
  font-weight: 400;
  color: var(--DarkGray);
}

.card__content .city {
  font-size: 14px;
  color: var(--DarkGray);
}

.card__divider {
  margin: 28px 0;
  border-top: 1px solid #e8e8e8;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 30px;
}

.stat__number {
  display: block;
  font-weight: 700;
}

.stat__data {
  font-size: 10px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--DarkGray);
}

@media screen and (min-width: 992px) {
  body::before {
    position: absolute;
    content: "";
    background-image: url(/images/bg-pattern-top.svg);
    width: 978px;
    height: 978px;
    top: -530px;
    left: -170px;
    z-index: -1;
  }

  body::after {
    position: fixed;

    content: "";
    background-image: url(/images/bg-pattern-bottom.svg);
    width: 978px;
    height: 978px;
    top: 463px;
    left: 660px;
    z-index: -1;
  }
}
